.product-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-wrapper .product-card {
  height: 450px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  padding: 10px;
  background-color: #2222;
}

.product-card img {
  border-radius: 15px;
  height: 85%;
  width: 95%;
  padding: 10px;
  margin: 0 auto;
}

.product-card .footer {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin-top: 5px;
}

.product-card .footer p {
  color: orangered;
  font-size: 19px;
}

.product-card button {
  background-color: gray;
  color: #fff;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}
